body {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: #eeeeee;

    font-family: 'Arial';
}

body .main-container {
    width: 400px;
}

body .main-container .logo{
    width: 400px;
    height: 100px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
}

body .main-container .controls {
    width: 100%;
    display: flex;
    flex-direction: column;
}

body .main-container .controls .form-row{
    width: 100%;
    margin-top: 10px;
}

body .main-container .controls .input-field{
    height: 40px;
    width: 100%;

    border: 1px solid #cccccc;
    border-radius: 20px;
    padding-left: 40px;

    background-color: #ffffff;
}

body .main-container .controls .input-username{
    background-image: url(../images/user.svg) !important;
    background-repeat: no-repeat;
    background-position-x: 3px;
}

body .main-container .controls .input-password{
    background-image: url(../images/password.svg) !important;
    background-repeat: no-repeat;
    background-position-x: 5px;
}

body .main-container .controls .submit-button{
    display: block;
    height: 40px;
    border-radius: 20px;
    padding-left: 40px;
    margin-top: 20px;
    background-color: #e98b3b;
    color: white;
    text-align: left;
    cursor: pointer;
    line-height: 2rem;
    border: 0px;
}

.users-page {
    width: 80%;
}
.users-page .users-container {
    border-top: 20px solid #e98b3b;
}
.users-page .users-title {
    text-align: center;
}
.users-page .user-row {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.users-page .user-row:nth-child(2n+1) {
    background-color: #cccccc;
}
.users-page .user-row:nth-child(2n) {
    background-color: #ffffff;
}

.users-page .user-first-column, .users-page .user-second-column {
    width: 20%;
}

.users-page .user-first-column, .users-page .user-second-column {
    width: 20%;
}

.users-page .pagination {
    padding: 20px;
    text-align: center;
}

.users-page .pagination .page {
    margin: 0px 10px;
    font-size: 1rem;
    cursor: pointer;
}
.users-page .pagination .page:hover {
    text-decoration: underline;
}

.users-page .pagination .page.selected {
    border-bottom: 2px solid #e98b3b;
    color: #e98b3b;
    cursor: auto;
    text-decoration: none;
}

.users-page .log-out {
    text-align: center;
    position: relative;
    bottom: 10;
}
.users-page .log-out .log-out-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.hidden {
    display: none !important;
}
